<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zerodha Stock Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/static/js/myscript.js"></script> 
  <link rel="stylesheet" href="/static/css/style.css">

  <style>
  body {
    font-family: 'Roboto';font-size: 15px;
  } 
</style>

</head>
<body>

  
<div class="container-fluid">
  <!-- width="60%" -->
  <div class="row">
    <img class="img-responsive col" src="/static/image/bse-image5.jpg" alt="Chania"  width="60%" height="auto" style="float:right;display:inline-block;">
  <p style="display:inline-block;font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
color: #00E4AE;margin:5%;"> Stocklists </p>
  
  
  </div>                                                                                   

  <div class="form-group" id="form-group-id">
  <label for="search-input">Enter company name:</label>
  <input type="text" class="form-control" id="search-input">
  </div>

  <div class="table-responsive" style="margin-left:4%;margin-right:4%;" id="search-result-table">          
  </div>


  <div class="table-responsive" style="margin-left:4%;margin-right:4%;" id="top-ten-table">
  </div>

  


</div>

</body>
</html>